{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "~": "./src",
        "~root": "./",
        "~server": "./server"
      }
    }],
    "console-source"
  ],
  "presets": [ "@nuxt/babel-preset-app" ],
  "env": {
    "production":{
      "plugins": ["transform-remove-console"]
    }
  }
}
